:root {
    --dark-blue: #333652;
    --blue-gray: #90adc6;
    --pewter: #e9eaec;
    --yellow: #fad02c;
}

body {
    background-color: var(--dark-blue);
    font-family: 'Courier New', Courier, monospace;
}

.main-header {
    color: var(--pewter);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.search-form {
    display: flex;
    gap: 10px;
}

.search-input {
    padding: 5px 15px;
    background: var(--pewter);
    color: var(--dark-blue);
    border: 1px solid var(--blue-gray);
    border-radius: 10px;
}

.search-button {
    padding: 5px 15px;
    cursor: pointer;
    background: var(--yellow);
    color: var(--dark-blue);
    border: 1px solid var(--blue-gray);
    border-radius: 10px;
}

.search-input::placeholder {
    color: var(--dark-blue);
}

.search-input:focus {
    outline: 2px solid var(--yellow);
    color: var(--dark-blue);
}

.movie-list {
    color: var(--pewter);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    list-style: none;
}

.movie-card {
    object-fit: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 2px solid var(--yellow);
    height: 550px;
}

/* MODAL */

.hero-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    background-color: var(--dark-blue);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    max-width: 80%;
    height: 95%;
    text-align: center;

    img {
        background-position: center;
        width: 100%;
        max-height: 70vh;
        object-fit: none;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    p {
        margin: auto;
        max-width: 50%;
        text-align: center;
    }
}
